@font-face {
  font-family: "iconfont"; /* Project id 5024025 */
  src: url('iconfont.woff2?t=1758094878167') format('woff2'),
       url('iconfont.woff?t=1758094878167') format('woff'),
       url('iconfont.ttf?t=1758094878167') format('truetype');
}

[class^='iconfont-'],
[class*=' iconfont-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-fanyi:before {
  content: "\e6fb";
}

